# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List some of the popular languages used by Data Scientists.
- List some of the libraries mostly commonly used by Data Scientists.
- Create a table containing development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the libraries most commonly used by Data Scientists include:
1. Pandas
2. Numpy 
3. Matplotlib

| Data Science Tools |
| --- |
| RStudio |
| Jupyter |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This expression will convert 200 Minutes into Hours by dividing by 60
200/60

3.3333333333333335

## Author
Joshua Clarke